<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
    <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
        <Author>{{ settings.Author }}</Author>
        <Company>{{ settings.Company }}</Company>
    </DocumentProperties>
    <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
        <AllowPNG/>
        {% for idx, color in settings.Colors %}
            <Color>
                <Index>{{ idx }}</Index>
                <RGB>{{ color }}</RGB>
            </Color>
        {% endfor %}
        <PixelsPerInch>96</PixelsPerInch>
    </OfficeDocumentSettings>
    <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
        <WindowHeight>{{ settings.WindowHeight }}</WindowHeight>
        <WindowWidth>{{ settings.WindowWidth }}</WindowWidth>
        <WindowTopX>{{ settings.WindowTopX }}</WindowTopX>
        <WindowTopY>{{ settings.WindowTopY }}</WindowTopY>
        <ProtectStructure>{{ settings.ProtectStructure }}</ProtectStructure>
        <ProtectWindows>{{ settings.ProtectWindows }}</ProtectWindows>
        <DisplayInkNotes>{{ settings.DisplayInkNotes }}</DisplayInkNotes>
    </ExcelWorkbook>
    <Styles>
        {% block styles %}
            <Style ss:ID="default" ss:Name="Normal">
                <Alignment ss:Vertical="Center"/>
                <Borders/>
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="10" ss:Color="{{ settings.Color }}"/>
                <Interior/>
                <NumberFormat/>
                <Protection/>
            </Style>

            <Style ss:ID="h1">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="20"/>
            </Style>

            <Style ss:ID="h2">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="18"/>
            </Style>

            <Style ss:ID="h3">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="16"/>
            </Style>

            <Style ss:ID="h4">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="14"/>
            </Style>

            <Style ss:ID="h5">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="12"/>
            </Style>

            <Style ss:ID="p">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="10"/>
            </Style>

            <Style ss:ID="em">
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="7"/>
            </Style>

            <Style ss:ID="td">
                <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
                <Borders>
                    <Border ss:Position="Top" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Bottom" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                </Borders>
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="10" ss:Color="{{ settings.TBodyColor }}"/>
                <Interior ss:Color="{{ settings.TBodyBackgroundColor }}" ss:Pattern="Solid"/>
            </Style>

            <Style ss:ID="th">
                <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                <Borders>
                    <Border ss:Position="Top" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Bottom" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:Color="#212121" ss:LineStyle="Solid" ss:Weight="1"/>
                </Borders>
                <Font ss:FontName="{{ settings.FontName }}" x:Family="{{ settings.Family }}" ss:Size="10" ss:Color="{{ settings.THeadColor }}"/>
                <Interior ss:Color="{{ settings.THeadBackgroundColor }}" ss:Pattern="Solid"/>
            </Style>
        {% endblock %}
    </Styles>

    {% for sheet in sheets %}
        <Worksheet ss:Name="{{ sheet.label }}">
            <Table ss:StyleID="table" x:FullColumns="1" x:FullRows="1">

                {% include '@KRGCore/export/header.xml.twig' %}

                {% for table in sheet.tables %}
                    {% include sheet.template|default('@KRGCore/export/table.xml.twig') with {table: table} %}

                    <Row ss:AutoFitHeight="1"></Row>
                    <Row ss:AutoFitHeight="1"></Row>
                    <Row ss:AutoFitHeight="1"></Row>
                {% endfor %}
            </Table>
        </Worksheet>
    {% endfor %}
</Workbook>