{% use 'bootstrap_4_layout.html.twig' %}

{% block choice_widget_collapsed -%}
    <div class="select">
        <div class="select-wrapper">
            {{ parent() }}
        </div>
    </div>
{%- endblock choice_widget_collapsed %}

{% block form_label -%}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label_format = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- endif -%}
    {%- endif -%}

    {{ parent() }}
{%- endblock form_label %}

{%- block button_widget -%}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label_format = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- endif -%}
    {%- endif -%}

    {{ parent() }}
{%- endblock button_widget -%}

{% block checkbox_radio_label -%}
    {%- if widget is defined -%}
        {% set is_parent_custom = parent_label_class is defined and ('checkbox-custom' in parent_label_class or 'radio-custom' in parent_label_class) %}
        {% set is_custom = label_attr.class is defined and ('checkbox-custom' in label_attr.class or 'radio-custom' in label_attr.class) %}
        {%- if is_parent_custom or is_custom -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' custom-control-label')|trim}) -%}
        {%- else %}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- endif %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': '', 'checkbox-custom': '', 'radio-custom': ''})|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}

        {{ widget|raw }}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain))|raw -}}
        {{- form_errors(form) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}
